keycloak_url            = "http://localhost:7080"
keycloak_admin_password = "admin"
client_secret           = "replace-with-a-long-random-secret"
realm                   = "securedbankdev"

client_type_client_id   = "securedbank-cc"
auth_code_client_id     = "securedbank-ac"
auth_code_client_secret = "replace-with-auth-code-client-secret"
user_password           = "Password@123"
