keycloak_url            = "http://localhost:7080"
client_type_client_id   = "securedbank-api"
keycloak_admin_password = "admin"
client_secret           = "replace-with-a-long-random-secret"
realm                   = "securedbankdev"

auth_code_client_id     = "securedbankclient"
auth_code_client_secret = "replace-with-auth-code-client-secret"
pkce_client_id          = "securedbankclientpublic"
pkce_ui_client_id       = "securedbankclientpublicui"
user_password           = "Password@123"
